<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="'ie=edge">
    <title>Face Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>face exchange</h1>
    </div>
    <div class="content">
        <div class="upload_form">
            Upload your image
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="upload" />
            </form>
        </div>

        <div class="image_view">
            <img src="{{url_for('static', filename='avatar.png')}}"
                 alt="your image here" width="300px" height="300px" />
        </div>
    </div>
    <div class="footer">
        Production: psor2.0@gmail.com
    </div>
</body>
</html>